.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe15b;
}

.inner-container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.header {
  background-color: rgb(16, 28, 51);
  min-height: 25vh;
  width: 100%;
  padding: 10px 0;
}
  
.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-title {
  color: #e2bc12;
  font-size: 5vw;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

@media screen and (max-device-width: 1025px) {
  .header-title {
    font-size: 7vw;
  }
}

.search-section {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-device-width: 1025px) {
  .search-section {
    margin-top: 10px;
  }
}

.news-placeholder {
  width: 100%;
  height: auto;
  padding: 15px 0;
}

.news-placeholder-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

@media screen and (max-device-width: 1025px) {
  .news-placeholder-container {
    flex-direction: column;
    align-items: center;
  }
}

.card-item {
  width: 19%;
  background-color: rgb(235, 235, 235);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

@media screen and (max-device-width: 1025px) {
  .card-item {
    width: 90%;
  }
}

.card-image {
  width: 90%;
  margin-top: 20px;
}

.card-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5vw;
  margin-top: 10px;
  font-weight: bold;
  width: 90%;
  text-align: center;
}

@media screen and (max-device-width: 1025px) {
  .card-title {
    font-size: 4vw;
  }
}

.card-article {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2vw;
  margin-top: 10px;
  width: 90%;
  text-align: justify;
}

@media screen and (max-device-width: 1025px) {
  .card-article {
    font-size: 3.5vw;
  }
}

.card-link {
  font-size: 1.1vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-device-width: 1025px) {
  .card-link {
    font-size: 3vw;
  }
}

.error-message-default {
  color: grey;
  font-size: 3vw;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.error-message-true {
  color: darkred;
}